<p id="notice"><%= notice %></p>
<%= javascript_include_tag 'jwplayer/jwplayer' %>
<script>jwplayer.key="zVsIDD8D4gCoEsQWHo78A30MV1+XJn2hWSj7Ew=="</script>

<div id='my-video'></div>
<script type='text/javascript'>
    jwplayer('my-video').setup({
        file: 'Location of my video file',
        width: '480',
        height: '270'
    });
</script>

<script type="text/javascript">
jwplayer(options.id).setup({  
      flashplayer: "/jwplayer/player.swf",  
      autostart: autostart,  
      file: <%= @admin_video.source.url %>,  
      stretching: 'fill',  
      controlbar: 'bottom', 
      width: width,  
      height: height,  
      events: {  
            onPause: function(event) {  
                    jwplayer().play();  
            }  
      } 
</script>

<%= link_to 'Edit', edit_admin_video_path(@admin_video) %> |
<%= link_to 'Back', admin_videos_path %>
