<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <%= stylesheet_link_tag "admin" %>
  <%= yield :head %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <%= render :partial => 'layouts/admin/head' %>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <% if current_admin %>
      <%= render :partial => 'layouts/admin/navigation' %>
      <% end %>
    </div>
    <div class="span10">
      <h1 class="fontYaHei">
      <%= yield %>
    </div>
  </div>
</div>
  <%= javascript_include_tag "admin" %>
</body>
</html>
